.div-top10country{
    background-color: #f5f6fa;
}

.h-div-top10country{
    text-align: left;
    padding-left: 1em;
    font-family: Poppins, sans-serif;
    font-size: 28px;
    font-weight: 600 ;
}

.div-top10country-main{
  font-family: Poppins, sans-serif;
  display: flex;
  flex-direction: row;
}

.h-div-top10country-main{
    text-align: left;
    padding-left: 1em;
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-weight: 600 ;
}

.li-top10country-main{
    list-style:none;
    background-color: darkorchid;
}

.div-list-top10country-main{
    background-color: #ffffff;
    border-radius: .3em;
    margin: .5em;
    width: 100px;
}

.div-list-top10country-main:hover{
    background-color: #ffffff;
    border-radius: .3em;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: .5em;
    margin-bottom: .5em;
    width: 100px;

}
/*
.span-div-list-top10country-main-1{
    text-align: left ;
    padding: .5em;
    margin-left: 0em;
    width: 180px;
    float: left;
    font-size: 12px;
    font-weight: 600 ;
}
.span-div-list-top10country-main-2{
    text-align: right ;
    padding: .5em;
    margin-left: 0em;
    width: 180px;
    float: right;
    font-size: 12px;
    font-weight: 600 ;
   
}*/

.flag-top10country{
    width: 2.5em;
    height: 2.5em;
    border-radius: 50em;
}