@font-face {
  font-family:'webfont';
  src: local('fontawesome-webfont'),
       url(../src/assets/fonts/fontawesome-webfont.ttf)
       format(truetype)
}
@font-face {
  font-family:'glyphicons';
  src: local('glyphicons-halflings-regular'),
       url(../src/assets/fonts/glyphicons-halflings-regular.ttf)
       format(truetype)
}
@font-face {
  font-family:'themify';
  src: local('themify'),
       url(../src/assets/fonts/themify.ttf)
       format(truetype)
}
@font-face {
  font-family:'lanenar';
  src:
       url(../src/assets/fonts/lanenar_Lane.ttf)
       format(truetype)
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
